<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h2>top</h2>
  
  <h2><%= @title %></h2>
  <h2><%= @article.title %></h2>
  <h2><%= @article.content %></h2>
  <%= link_to 'about', about_path %>
  
</body>
</html>

